.color-title{
    font-weight:normal;
}
#red{
    color:red;
}
#blue{
    color:skyblue;
}
#orange{
    color:orange;
}
#green{
    color:green;
}
#yellow{
    color:yellow;
}
#brown{
    color:brown;
}
#darkblue{
    color:blue;
}
#pink{
    color:pink;
}
#purple{
    color:purple;
}
#saffron{
    color:saffron;
}
#black{
    color:black;
}
#white{
    color:white;
}
img{
    height: 200px;
    width: 200px;
}
